[2013-01-08 13:50] MacKP opened #1 "Kann bei Tags nur die Datenbanktabelle auswählen. Alles andere nicht."
Ich würde gerne als Tags einen anderen MM nutzen. Ich kann auch die Datenbanktabelle mm_irgendwas auswählen. Spaltenname/Tag ID / Tag-Alias / Tag-Sortierung kann aber nicht ausgewählt werden.
Mit dem Attribute type 'Auswahl' funktioniert das ohne Probleme.

Getestet mit dem nightly von heute.

Viele Grüße

[2013-01-09 14:18] #1 closed, assigned to nobody

[2013-02-20 18:03] bibib opened #3 "Fatal error: Uncaught exception Exception with message Query error: You have an error in your SQL syntax;"
Nach einem Update auf die aktuelle nightly bekomme ich folgende Fehlermeldung, wenn ich einen neuen Datensatz anlegen möchte:

Fatal error: Uncaught exception Exception with message Query error: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 1 (SELECT mm_rezept_tags.\* FROM mm_rezept_tags WHERE struk

[2013-03-03 14:04] schmanat opened #4 "Tags werden nicht gespeichert"
Folgendes Szenario
MetaModel "tags" angelegt mit den Attributen (Titel, Alias), dieses MM beinhaltet die Tags. In einem anderen MM habe ich das Attribut Tags hinzugefügt. Bei den Einstellungen habe ich folgendes definiert:
Datenbanktabelle: mm_tags
Spaltenname: title
Tag ID: id
Tag-Alias: alias
Tag-Sortierung: Tag.

Paletteneinstellung und Ausgabe erstellt und hinzugefügt. Beim erfassen kann ich d

[2013-03-11 09:55] #3 closed, assigned to nobody

[2013-03-12 11:32] #4 closed, assigned to discordier

[2013-04-20 08:59] andreasisaak opened #7 "Sortierfeld für Einträge im BE"
Es fehlt noch ein Sortierfeld damit man die Einträge im BE nach eigenem Schema sortieren kann!

[2013-05-21 13:43] no-one opened #8 "You can't use the MM demo with MySQLi dbDriver"
If you use MySQLi and you try to filter by genre you will get an error message because of mysql_real_escape_string():
`Warning: mysql_real_escape_string(): Access denied for user ''@'localhost' (using password: NO) in …/system/modules/metamodelsattribute_tags/MetaModelFilterRuleTags.php on line 47`

[2013-06-13 10:34] #7 closed, assigned to nobody

[2013-06-15 15:39] #8 closed, assigned to nobody

[2013-08-16 09:38] guay opened #9 "Template 'select' for tags filter (Mehrfachauswahl)"
On the backend side I am using the attribute 'tags' to tag my projects. 'Multiple choice' is here the right thing to do since most of the projects fit into more than just one category.
On the frontend side I would like to use a 'select' as a filter. But the filter templates (mm_filteritem_) given are: checkbox, linklist, radiobuttons. Radio buttons are actually doing the job (one option only), but

[2013-09-23 10:03] Munsio opened #10 "Contao3 - false folder structure"
The filter rules folder is under an extra MetaModels folder which should not exist.

[2014-03-08 05:02] #10 closed, assigned to nobody

[2014-05-16 08:09] seaneble opened #13 "Different input method in backend"
Could you integrate an option for this attribute for having a multiple select menu instead of a checkbox widget?
Background: I use a table with hundreds of entries as source table for a tags attribute. The resulting backend field is very very long.

A select menu with the possibility to select multiple values (enhanced by Chosen) would save space and be more usable.

Thanks

Sebastian

[2014-06-12 11:16] pandroid opened #14 "Einsatz als Filter im Backend nicht möglich"
Wenn ich für das Attribut mit dem Feldtyp "tags" die Option "Filterbar" aktiviere, erhalte ich beim Aufruf der Backend-Liste den Fehler

[code]

[2014-06-17 09:57] andre5tz opened #15 "xhtml Template fehlt"
Hallo,

bei den Templates ist kein xhtml-Template vorhanden.
Vielleicht könnte das noch zugefügt werden. Es reicht wohl aus, ein html5-Template zu kopieren und in .xhtml umzubenennen.

VG und danke
André

[2014-06-18 09:45] bastibuck opened #16 "Fatal error: Class not found"
Hallo,
habe gerade die neuste TNG nightly geladen und kriege diesen Fehler, wenn ich die Einstellungen des Attributes in meinem MM ändern möchte:

[code]

Bei den [translatedtags](https://github.com/MetaModels/attribute_translatedtags/tree/tng) taucht ein ähnlicher Fehler auf:

[code]

Mit dem Unterschied, dass ich diesen Fehler bereits kriege, wenn ich das BE/MetaModels öffne. Da ich dieses Attri

[2014-06-21 12:55] #15 closed, assigned to nobody

[2014-06-30 21:02] #16 closed, assigned to nobody

[2014-07-01 11:22] Munsio opened #17 "Fehlerhafte Ausgabe des Popup Pickers"
Version:
Contao: 3.2.12
MM-Tags: dev-tng (f20cc70a)

Wenn man den Popup Picker für die Backend Eingabe benutzt wird der Inhalt falsch gerendert:
![mm_tags_popup](https://cloud.githubusercontent.com/assets/646513/3442273/262385ec-0112-11e4-8f6f-0033bfeb3100.PNG)

Weiters ist mir auch noch aufgefallen das wenn ich den Eintrag auswähle wird dieser zwar übernommen ist beim erneuten aufrufen des Picker

[2014-08-07 19:02] #9 closed, assigned to nobody

[2014-08-12 12:51] Zeromax opened #18 "[tng] if table does not exist, the back end is unusable"
If I rename a table with a related field I get an error message.

How to fix:
See in this line:
https://github.com/MetaModels/attribute_tags/blob/tng/src/system/modules/metamodelsattribute_tags/MetaModels/Attribute/Tags/Tags.php#L210

Check also if the table exists:

[code]

Trace:

[code]

[2014-08-15 17:02] #18 closed, assigned to nobody

[2014-10-08 10:45] #17 closed, assigned to nobody

[2014-10-26 03:02] #13 closed, assigned to nobody

[2014-12-05 11:48] kein-nickname opened #21 "Fatal error: Uncaught exception Exception with message Query error..."
Nach letztem Update gibts nur noch:

[code]

[2014-12-11 15:17] cboelter opened #22 "[TNG] Class 'MetaModels\DcGeneral\Events\MetaModels\Select\BackendSubscriber' not found"
Ich habe mir gerade einen frischen TNG über composer installiert, dort erhalte ich jetzt im Backend folgende Meldung:
[code]
Das Problem liegt hier: https://github.com/MetaModels/attribute_tags/blob/33ef95e4887e64394ad4cb3347b65b529d890210/contao/config/config.php#L18 und entsteht meiner Meinung nach daraus, das in der composer.json vom Attribute-Tags das Require auf das Select-Attribute fehlt: ht

[2014-12-13 08:39] kein-nickname opened #23 "Fatal error: Uncaught exception Exception with message Too few arguments to build the query string thrown in system/modules/core/library/Contao/Database/Statement.php on line 316"
Fehlermeldung wenn bei Tags die "Nur zugeordnete Tags" angwählt werden!

[code]

[2014-12-15 10:23] kein-nickname opened #26 ""Ergebnisse zählen" hat keine Funktion mehr..."
Seit einem der letzten Updates hat der Filter "Tags" wie auch schon "Select" keine Funktion mehr, wenn man bei den Frontendfilter die  Einstellung "Ergebnisse zählen" aktviert... es werden keine Werte mehr angezeigt!!!

[2014-12-22 08:31] tniebergall opened #28 "Es werden nicht alle ausgewählten Tags ausgegeben"
Ich habe aktuell das problem unter Contao 3.3.7 und der aktuelle tng, dass die Ausgabe der Tags im Frontend nicht vollständig erfolgt.

In allen items meines MM haben ich je item mehrere Tags ausgewählt und diese werden auch im Backend (DB) korrekt gespeichert.
In der Frontendausgabe über ein Listen Element werden bei manchen items die Tags ausgegeben bei anderen wird nur NULL übergeben.

Gerne ka

[2014-12-23 14:07] cboelter opened #29 "[TNG] Attribute verwendet keine Where-Einschränkung mehr"
Ich habe im Tags Attribute eine Where pid=13 hinterlegt. Diese wird leider nicht mehr genutzt. Der Code sieht so aus als wurde der Umbau auf die Filter-Setting ( wie beim Select ) begonnen aber nicht abgeschlossen.

[2014-12-26 11:36] cboelter opened #31 "[TNG] Kein submitOnChange in den DCA-Settings verfügbar - WIP"
In den DCA-Settings des Attributes fehlt die Möglichkeit submitOnChange zu aktivieren. Somit ist eine Nutzung als Condition nicht möglich.

[2015-01-05 12:02] fabian-ibr commented on #28
Ich habe das Problem mit der aktuellen tng auch. In der Listenansicht gibt er die Tags immer nur einmal aus. (Beim ersten Eintrag.)

[2015-01-05 16:39] #29 closed

[2015-01-06 10:49] cboelter commented on #31
@discordier Kannst du mir hier feedback geben, ob sich das kurzfristig umsetzen lässt. Bräuchte das Feature oder eine Info :) ...

[2015-01-07 21:08] MiniModel commented on #21
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@kein-nickname could you please have a final look at this and tell if you

[2015-01-07 21:08] #21 closed

[2015-01-07 21:39] discordier commented on #31
Sollte analog zu den selects implementierbar sein (sofern die widgets es verstehen).

[2015-01-08 07:19] discordier commented on #26
Kannst du mal probieren ob das Problem mit https://github.com/MetaModels/attribute_tags/commit/beb10b9a16a1089bd7b8607898d399c299e5c82d weg ist?

[2015-01-08 08:10] kein-nickname commented on #26
Also bei mir hat sich diesbezüglich keine Änderung ergeben.
Kann es sein, dass das Ganze ein Fehler im Template ist und die Daten an eine andere Variable übermittelt werden.
Mir kommt es vor als ob die $option['key'] keinen Wert mehr ausliefert...

[2015-01-08 08:12] kein-nickname commented on #26
@discordier Also bei mir hat sich diesbezüglich keine Änderung ergeben.
Kann es sein, dass das Ganze ein Fehler im Template ist und die Daten an eine andere Variable übermittelt werden.Mir kommt es vor als ob die $this->count[$option['key']] keinen Wert mehr ausliefert...

[2015-01-08 12:00] discordier commented on #26
Was steht allgemein in `$this->count` drin?

[2015-01-08 13:21] kein-nickname commented on #26
Keine Ahnung ist das Standard-Template :-o
Ging auch bis vor einigen Wochen und seit dem kommen nur noch ()

[2015-01-08 17:45] cboelter commented on #31
Ok, werde ich mir in den kommenden Tagen einmal ansehen.

[2015-01-08 20:04] discordier commented on #26
Dann mach doch mal bitte einen `var_dump($this->count);` und poste uns das Ergebnis.

[2015-01-09 07:27] kein-nickname commented on #26
Bei Select-Filter wird folgendes angezeigt
[code]

Bei Tags-Filtern
[code]

[2015-01-09 10:48] discordier commented on #26
Also wurde beim select gar nicht gezaehlt und bei den tags sind die ids nicht vorhanden.
Wie genau sieht deine Konfiguration der Filter aus?

[2015-01-09 12:15] cboelter commented on #31
Ich arbeite aktuell an dem Feature.

[2015-01-09 20:01] tniebergall commented on #28
Bei mir funktioniert es mit dieser Anpassung.

Danke @stefanheimes

[2015-01-09 20:01] #28 closed

[2015-01-10 03:17] discordier commented on #22
Da das tags attribute nun seinen eigenen subscriber hat, kann das require wieder raus, oder?

[2015-01-10 03:19] discordier commented on #23
Closing now as reported as fixed by @kein-nickname and @cboelter.

[2015-01-10 03:19] #23 closed

[2015-01-12 20:08] #31 closed

[2015-01-13 20:04] fabian-ibr commented on #28
Bei mir auch. Besten Dank.

[2015-01-24 09:43] markknochen1 opened #34 "PHP Recoverable error: Argument 1 passed to Contao\Ajax::executePostActionsHook()"
Beim Zuweisen von Werten zum attr_tags innerhalb eines MM-Eintrages bekam ich eben den Fehler:

PHP Recoverable error: Argument 1 passed to Contao\Ajax::executePostActionsHook() must be an instance of DataContainer, instance of ContaoCommunityAlliance\DcGeneral\Contao\Compatibility\DcCompat given, called in system/modules/core/classes/Ajax.php on line 211 and defined in system/modules/core/classes

[2015-01-26 16:02] discordier commented on #34
Should be fixed by contao-community-alliance/dc-general@40c85ffe86f90843935ba43acede4e74fe5cfdf2

[2015-01-26 16:02] #34 closed

[2015-02-04 09:53] design23 opened #35 "Endlosschleife bei auf sich selbst referenziertem MM"
Bezugnehmend auf folgenden Thread:
https://community.contao.org/de/showthread.php?55394-MM-auf-sich-selbst-referenzieren

Hier mein Vorgehen (in Bildern, wie gewünscht):

Grundeinstellungen des MM:
![bildschirmfoto 2015-02-04 um 10 45 10](https://cloud.githubusercontent.com/assets/6112308/6038232/98278d4c-ac5b-11e4-9aea-905a2d432fcc.png)

Attribute:
![bildschirmfoto 2015-02-04 um 10 45 31](https:/

[2015-02-04 16:06] discordier commented on #35
@stefanheimes We need to add a tracking of recursion here.

[2015-02-04 16:07] design23 commented on #35
Konntet ihr das Verhalten reproduzieren?

[2015-02-10 20:37] uagga commented on #21
gleiches Problem wie beschrieben.

[2015-02-13 15:34] Zeromax commented on #26
@discordier kann ich verifizieren das Problem. Muss mich dahinterklemmen, evtl. nur ein Logik Problem, der Code ist ja noch da ;)
Mache einen PR, wenn ich es gefixed habe. Sollte nächste Woche der Fall sein.
Mein Letzter Stand, als es noch ging war vom November 2014 ...

[2015-02-16 23:48] discordier commented on #26
Nun sollten wieder Anzahlen von Treffern kommen.

[2015-02-17 00:11] discordier commented on #21
@uagga Welches Problem tritt bei dir wie beschrieben auf? Keine der hier zitierten Code stellen existiert noch in derselben Version wie zum Zeitpunkt als dieses ticket geoeffnet wurde, weiterhin wurden hier 3 verschiedene Problematiken besprochen.

Bitte mache ein neues Ticket auf mit neuem stack trace und genauen Informationen wie das Problem nachzustellen ist.

[2015-02-17 09:49] Zeromax commented on #26
@discordier nun es werden wieder Zahlen ausgegeben, das ist richtig.
Allerdings haben die Zahlen keinen Alias Bezug.

Und sie sind auch nur gültig wenn `$used==false` ist.
Das versuchte ich hier https://github.com/MetaModels/attribute_tags/pull/37#issuecomment-74475618 zu erklären.
Die komplette used SQL Logik fehlt in der `MetaModelTags` Klasse.

[2015-02-20 10:01] MiniModel commented on #26
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@kein-nickname could you please have a final look at this and tell if you

[2015-03-18 17:04] davidmaack commented on #35
Wie wäre es mit einer Checkbox, mit der man das Standard-Attribut erwingen kann? Damit würde in der AttributeTypeFactory nicht dass MetaModelTags geladen, sonder die "einfache" Tag-Klasse.

Ja, dann muss man bei der Anzeige im Template die Verlinken Items selber raussuchen, aber man könnte im Backend die Produkte pflegen und zur Ausgabe bringen. Das wäre relative schnell umgesetz und wäre für viel

[2015-03-24 14:54] haendersonfox opened #39 "Property faecher (tags) did not accept the value"
hallo,

mit dem aktuellen nightbuild von gestern bekomme ich folgende fehlermeldung,
wenn ich das attribut "mehrfachauswahl [tags]" verwende und dann einen eintrag
im metamodel vornehmen möchte:

Property faecher (tags) did not accept the value (The values differ. Array value mismatch for key 0. Encountered type integer expected string (Found 1, expected '1')).

Property faecher (tags) did not acc

[2015-03-24 17:35] discordier commented on #39
Sollte seit eff535e1d6ce2fd12f6593efce467a30911fdbcf behoben sein.

[2015-03-25 06:39] haendersonfox commented on #39
mit dem aktuellen nightly ist der fehler behoben... sehr sch�n, vielen dank.

Am 24.03.2015 um 18:35 schrieb Christian Schiffler:

[2015-03-28 07:01] MiniModel commented on #39
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@haendersonfox could you please have a final look at this and tell if you

[2015-04-03 06:59] cboelter opened #40 "Useless code"
I think these lines of code are useless: https://github.com/MetaModels/attribute_tags/blob/afb66f18cddd1fb5957522f2cb20426ab165cbe4/src/MetaModels/Attribute/Tags/MetaModelTags.php#L453-L467

Because we set the $value in this line: https://github.com/MetaModels/attribute_tags/blob/afb66f18cddd1fb5957522f2cb20426ab165cbe4/src/MetaModels/Attribute/Tags/MetaModelTags.php#L468

So we are rendering the

[2015-04-04 09:10] Kreativsoehne commented on #39
Property attribut-name (tags) did not accept the value (The values differ. Array value mismatch for key 0. Found 'abc' expected 'xyz').

Leider scheint der Fehler noch nicht behoben zu sein... (MetaModel Stand vom 02.04.2015)

[2015-04-07 05:44] markus151173 commented on #35
Als Zwischenlösung gäbe es die Möglichkeit in der AttributeTypeFactory.php in Zeile 48 die if Abfrage raus zu nehmen. Ist aber dann nicht mehr Ubdatesicher.
\system\modules\metamodelsattribute_tags\classes\src\MetaModels\Attribute\Tags

Das mit der Checkbox wäre die besser Lösung.

[2015-04-07 06:18] codesache opened #41 "Fehlermeldung bei der Zuordnung über Tags aus einem anderen MM"
Hallo zusammen,
Ich bekomme ein Fehlermeldung bei der Zuordnung über Tags aus einem anderen MM im Backend.
In der Fehlermeldung hier ist ein Komma zu viel oder der Wert wird nicht übergeben.

Fatal error: Uncaught exception Exception with message Query error: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at

[2015-04-07 09:39] davidmaack commented on #35
Sollte 1349e20222ca8e0e06a9d2ab2362508b91c4223d das Problem nicht behoben haben?

[2015-04-07 14:22] discordier commented on #40
You are right, I forgot to delete that block in 1349e20222ca8e0e06a9d2ab2362508b91c4223d

[2015-04-07 14:25] discordier commented on #40
Fixed in dbe75f620c2d82ce6ef711eae28b4ee104d672f7.
Thanks for notifying, recursion prevention should now be working flawless.

[2015-04-07 14:25] #40 closed

[2015-04-07 14:26] discordier commented on #35
Gab noch ein Problem, dbe75f620c2d82ce6ef711eae28b4ee104d672f7 sollte es komplett beheben.

[2015-04-07 14:29] design23 commented on #35
Ich komme leider erst in ein paar Tagen dazu, das zu testen. Werde dann entsprechend nochmal Feedback geben. Danke schonmal vorab!

[2015-04-07 14:42] discordier commented on #41
Anscheinend loest er das Value nicht korrekt zur Id bei dir auf.
Kann eine Einstellung sein, machst du bitte eben einen screenshot von deinem tag attribut?

[2015-04-07 15:39] discordier commented on #39
Hast du mir bitte Details zu deiner Konfiguration?
Insbesondere wonach deine Tag Werte sortiert werden.

[2015-04-08 14:07] davidmaack commented on #41
![tags](https://cloud.githubusercontent.com/assets/988290/7046727/24716c2c-de08-11e4-8be6-bc9415e4638b.png)
Und hier noch mal der komplette StackTrace:
[code]
In in setDataFor($arrValues) werden ja die Values als Array übergeben, hier ist irgendwie einer der Keys ein Leerstring ("") statt richtigerweise die ID des referenzierten Datensatzes. Daher fehlt dann auch beim SQL-Statement der Wert.

Wir

[2015-04-08 16:28] discordier commented on #41
Was hast du denn als komplette Daten an die `setDataFor()`?
weiterhin, was macht die `widgetToValue()`bei dir? Ebenfalls bitte input und output dumpen.

[2015-04-10 15:01] MiniModel commented on #35
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@design23 could you please have a final look at this and tell if your iss

[2015-04-13 07:33] Kreativsoehne opened #42 "Property attribute_name (tags) did not accept the value"
Property attribute_name (tags) did not accept the value (The values differ. Array value mismatch for key 0. Found 'B' expected 'A').

[2015-04-13 08:06] Kreativsoehne commented on #39
Hallo :)
Sorry für die späte Antwort... habe die Nachricht übersehen.

In der Eingabemaske ist es ein Attributtyp: tags - welches auf eine anderes metamodel zugreift.
Der Checkbox-Wizard ist auf "Display as tag list" - wobei eine Änderung keine Auswirkung auf das Verhalten zeigt.
Es gibt keine "Visibility conditions für dieses Attribut"
Im entsprechenden Metamodel für die tag-Werte gibt es eine Ba

[2015-04-13 14:15] Znrl commented on #39
Hab ich auch:
Property author (tags) did not accept the value (The values differ. Array value mismatch for key 0. Found 'one_alias' expected 'two_alias').

Ändern des Alias scheint erstmal nicht zu helfen. Es fuktioniert auch nur diese kombination nicht, wenn ich ein drittes Tag hinzufüge oder eins austausche geht es.

[2015-04-13 14:33] Znrl commented on #39
Ok ich hab das mit dem sorting erst überlesen... das stand auf auf Sortieren nach "sorting" allerdings ist sorting überall 0. Ich hab das mal auf nach ID sortieren umgestellt und es scheint ertmal zu gehen.

[2015-04-15 18:03] discordier commented on #39
Wieso sind die in der Datenbank alle auf 0? Hast du kein manuelles sortieren in der Fremdtabelle definiert?

[2015-04-15 18:04] discordier commented on #42
Siehe #39.

[2015-04-15 18:04] #42 closed

[2015-04-15 19:02] Znrl commented on #39
Ich habs so mit den Datenbanken ... (aber letzts mal hatte es nichts mit MM zu tun)
Ich hatte 3 sortings drin, nachdem ich jetzt das manuelle auf standard gesetzt habe werden in der Datenbank fürs sorting auch Werte gesetzt.
Ich hate das vorher ignoriert, weil es das manuelle sorting nie gespeichert hat (läuft aber auch schon länger vtl. giengs am Anfang auch wirklich noch nicht). Man müsste das v

[2015-04-16 06:05] Kreativsoehne commented on #39
Bei mir verhält es sich etwas anders.
Wenn ich das Attribut anlege, dann kann ich einmalig Daten zuordnen. Wenn diese einmal gespeichert sind und ich etwas an den zugeordneten Daten ändern möchte kommt der Fehler. Weder hinzufügen noch entfernen von Werten geht dann...

[2015-04-20 12:50] Kreativsoehne commented on #39
Wir brauchen hier dringend eine Lösung...
Testsystem vorhanden, gern auch gemeinsame Session dazu...

[2015-04-22 22:43] discordier commented on #39
Was hast du bei deiner Attributskonfiguration als sortierspalte eingetragen?

[2015-04-23 06:24] Kreativsoehne commented on #39
Die Spalte Sorting...

[2015-04-23 06:52] discordier commented on #39
Welche lauter nullen beinhaltet und somit die Eintraege von MySQL "random" geliefert werden. Da ist es dann logisch dass sich die Reihenfolge immer hin und her aendert.

[2015-04-24 09:21] Kreativsoehne commented on #39
Okay, nicht dass wir aneinander vorbei reden:
Es handelt sich um eine Verwaltung für klassische Konzerte. In jedem Konzert singen Solisten. Diese sind bereits als Metamodel vorhanden und sollen nun über eine Mehrfachauswahl einem Konzert zugewiesen werden. Wie bereits erwähnt, funktioniert die Erstauswahl dieser Personen ohne Probleme. Aber bei einer nachträglichen Änderung der Solisten-Zuordnung

[2015-04-24 13:00] MacKP commented on #39
Hallo Kreativsoehne,
das mit dem Sorting muss einfach sein. Ist so muss man nur wissen und sich merken (wird dann irgendwann auch in irgendeiner Doku vermerkt).
Ich habe aber gerade mal versucht dein anderes Problem nachzustellen. Ich habe Tags wo ich dann mehrere (alle) Zuordnungen entferne und speicher. Die sind dann auch weg. Ich hab also nicht das von dir beschriebene Problem. Kannst du mal bi

[2015-04-24 13:20] Kreativsoehne commented on #39
Danke für deine Info... dann merken wir uns das mal ;)
Aber wir sind auf der aktuellsten Version (die unter https://now.metamodel.me/de/ressourcen/nightly-builds als zip angeboten wird) - auch extra nochmal gedifft um sicher zu gehen...
MetaModel Cache wird auch regelmäßig geleert.
Und nun?

[2015-04-24 13:22] MacKP commented on #39
Hmm einziger Unterschied könnte sein, das ich translated nutzte an der Stelle.
Eventuell hängt ja was bei dir und nach einer komplett Neuzuweisung gehts dann richtig?
Ich hab da eigentlich keine wirkliche Idee wo das nun hängen könnte bei dir.. ich kanns wie gesagt leider (oder zum Glück) nicht nachstellen.

[2015-04-24 13:51] Kreativsoehne commented on #39
Ich habe gerade alle Zuweisungen entfernt... leider bringt dies keine Abhilfe...
Ein vollständiges leeren des Attributes über die Eingabemaske ist nicht möglich :(

[2015-04-24 14:50] Znrl commented on #39
Das ist aber nicht "required"?

Zu dem Sorting:
Momentan ist Manuelles Sortieren als zusätzliche Option ziemlich unbrauchbar.
(Es können mehrere Sortieroptionen gleichzeitig als "Is default" gesetzt werden !?)
Wenn manuelles Sortieren nicht Standard ist werden die "sorting" Werte nicht gesetzt oder geupdated.
Bei Attributen fürs Sortieren spielt das wohl (meist?) keine Rolle, da ein Sortieren nach

[2015-04-24 15:04] MacKP commented on #39
Hä? Das wäre jetzt wenn, dann in einem neuen Ticket sinnig @Znrl
Aber mal zur Erleuchtung:
Das Sorting was du beim Attribut (tags) hier einstellst, das ist unabhängig von dem sorting was du bei dem MM was du als Grundlage einstellst (da kann ja mehrere Einstellen, wie du schon gemerkt hast). Und ja, das Feld 'sorting' wird nur beim Manuellen Sortieren befüllt, da die Sortierung sonst (Alphabetisch

[2015-04-24 15:54] Znrl commented on #39
Indirekt hat es damit zu tun, dass man eben bspw. dazu neigt, wenn nach der Sortierungsspalte gefragt wird "sorting" zu nehmen.
Das wäre eben dann kein Problem, wenn das Feld (es existiert ja eh) immer befüllt würde (nicht nur mit nullen). Der rest ist tatsächlich eher offtopic und mehr ne Begründung warum das Sinn machen könnte.

Hab das aber mal gemacht, nichts gefunden das sich danach anhört.
h

[2015-05-30 15:48] Aybee commented on #26
Das liegt daran, dass im FE Template ohne weitere Programmierung keine Zuordnung von count auf die options oder umgekehrt gemacht werden kann.
[code]
Zumindestens ist das so, wenn man Aliase für die Options benutzt. Die options bräuchten eine weitere Variable **id**.
[code]
Danach könnte man die Templates ändern
[code]

[2015-07-07 21:21] discordier commented on #26
Please test again, it is now working for me.

[2015-07-10 22:01] MiniModel commented on #26
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@kein-nickname could you please have a final look at this and tell if you

[2015-07-10 22:01] #26 closed

[2015-10-07 13:55] wwwebgainss opened #44 "Warning: Illegal string offset 'value' in.."
Habe bei der Eingabemaske ein Feld mit Mehrfach-Auswahlmöglichkeiten definiert. Die Optionen werden in der DB auch per MM eingegeben. Nun möchte ich die Miniaturansicht vom Bild ausgeben und bei der Ausgabe bekomme ich folgende Fehlermeldung:

Warning: Illegal string offset 'value' in templates/metamodel_prerendered_p_d.html5 on line 68

#0 templates/metamodel_prerendered_p_d.html5(68): __error(2,

[2015-10-07 14:04] tim-bec commented on #44
Hallo @wwwebgainss

das sieht nach einem Problem in deinem (angepassten?) Template aus.
Solche Fragen / Probleme bitte ins Forum https://community.contao.org/de/forumdisplay.php?149-MetaModels oder im irc:  #contao.mm

[2015-10-07 14:04] #44 closed

[2016-01-07 07:43] xantippe opened #46 "FR: statt SQL-Eingabe Auswahl eines Filters - analog Attribut [select]"
siehe https://github.com/MetaModels/attribute_select/issues/13

[2016-02-15 15:49] MacKP opened #47 "Sorting bei der Ausgabe reagiert nicht auf die Einstellung von dem Attribut"
Ich habe in der Auswahl eine Verknüpfung zu einem extra MM mit Wochentagen. Als Sortierung der Mehrfachauswahl ist sorting eingestellt. Im Frontend wird allerdings die Ausgabe in einer mir nicht erschließbaren Reihenfolge gemacht. Eventuell wird da die Reihenfolge ausgegeben, in der die Items ausgewählt wurden?
Auch wenn ich die Sortierung umstelle, reagiert die Ausgabe darauf nicht und die Reihen

[2016-02-16 23:36] discordier commented on #47
Please try 2.0.0-alpha5 (a0ad4ef98d762297f0930ddbb9791a1f0f4977d8)

[2016-02-17 06:29] xantippe commented on #47
@discordier vorab nochmal danke für das nächtliche Fixing...

Mit der alpha5 wird nun eine einheitliche Sortierung ausgegeben @MacKP bei den Items mit der tag-Relation müssen diese für die Speicherung mit einer **Änderung** erneut gespeichert werden...

@discordier zur aktuellen Implementierung hätte ich dennoch einen Änderungsvorschlag: z.Z. werden die Werte in tl_metamodel_tag_relation.value_sor

[2016-02-17 09:06] xantippe commented on #46
offensichtlich erledigt...
![shot99](https://cloud.githubusercontent.com/assets/1045318/13104546/15c10f72-d55e-11e5-8f81-911c633a68ab.jpg)

[2016-02-17 09:06] #46 closed

[2016-02-17 10:20] discordier commented on #47
Kann man machen, mir ging es erstmal darum dass sich MetaModels Tags gleich verhalten wie die "alten" Tags. Also den Bug der Unvorhersehbarkeit zu entfernen.

[2016-02-17 10:26] xantippe commented on #47
ja - sehe ich auch so... wollte das als "FR" ablegen, damit ich/wir es nicht vergessen...

[2016-02-17 13:03] MacKP commented on #47
The fix is working for me. Sadly I need to change and save the item twice (but ok, better than the bug *g*).

regards (and thx!)

[2016-02-17 13:14] xantippe commented on #22
@cboelter Ticket noch aktuell?

[2016-02-17 13:20] xantippe commented on #14
getestet in MM alpha10:
* keine Fehlermeldung
* Filterauswahl erscheint bei Liste
* es wird gefiltert

=> kann m.E. geschlossen werden

[2016-02-17 13:50] xantippe commented on #39
@haendersonfox bitte testen, ob noch aktuell

[2016-02-17 13:52] xantippe commented on #41
@codesache & @davidmaack noch aktuell?

[2016-02-17 13:55] zonky2 opened #48 "Sortierung automatisch nach Einstellung im BE oder nach value_sorting bei manueller Sortierung"
siehe #47
man belässt die Spalte tl_metamodel_tag_relation.value_sorting der manuellen Sortierung (wenn die "grünen Hamburger" kommen) und in "Sortierung der Mehrfachauswahl" auf "sorting" steht und sortiert die Tags "dynamisch" anhand der eingestellten Sortierung...

[2016-02-17 13:57] #47 closed

[2016-02-19 01:21] #14 closed

[2016-02-20 14:01] MiniModel commented on #39
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@haendersonfox could you please have a final look at this and tell if you

[2016-02-22 16:47] xantippe commented on #48
Hinweis als "Merker": wenn das Ausgangsfeld für die Sortierung den gleichen Wert enthält, bekommt man in der Eingabemaske bei mehr als einer Zuordnung eine Fehlermeldung i.E. ```Property xyz (tags) did not accept the value (The values differ. Array value mismatch for key 1. Found 'uvw' expected 'vwu').```

z.B. wenn Ausgangsfeld "sorting" ist und keine manuelle Sortierung erfolgte

[2016-02-23 02:05] discordier commented on #48
Was bitte ist ein Ausgangsfeld?

[2016-02-23 06:31] xantippe commented on #48
geändert => "Sortierung der Mehrfachauswahl"

[2016-04-13 07:17] zonky2 commented on #22
gefixt

[2016-04-13 07:17] #22 closed

[2016-04-13 07:48] zonky2 commented on #41
@codesache bitte mit aktuellem "MM" testen

[2016-04-16 08:01] MiniModel commented on #41
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@codesache could you please have a final look at this and tell if your is

[2016-04-16 08:01] #41 closed

[2016-05-13 13:58] seaneble opened #49 "Unparsable encoded id value"
Beim Öffnen der Lightbox eines Tag-Attributes in einem Model erscheint bei uns folgende Meldung:

[code]

Das Attribut hat folgende Konfiguration: [datenbankdump.txt](https://github.com/MetaModels/attribute_tags/files/263405/datenbankdump.txt)

[2016-05-13 14:01] seaneble commented on #49
Offenbar tritt dies nur auf, wenn man auf dasselbe Model referenziert. Andere Models sowie sonstige Datenbanktabellen von Contao sind nicht betroffen.

[2016-12-02 22:03] zonky2 opened #51 "Finalize 2.0.0"
# TODO:
- [x] Bump PHP and Contao version (see MetaModels/core#1011)
- [x] Fix all remaining tickets tagged for 2.0.0
- [x] Check all file header (like https://github.com/MetaModels/core/blob/master/src/MetaModels/MetaModel.php#L1-L26)
- [x] Add `.check-author.yml` or check this
- [x] Add `.github/` templates - see [example](https://github.com/MetaModels/core/tree/e672fc555c7341059d76625cf0b5853b3

[2016-12-13 10:24] stefanheimes opened #52 "Filter problem with wildcard */? or ''"
I want to write a custom filter so i used the ```SearchAttribute``` class. The interface says:

[code]
so i used it for Tags ```$filter->addFilterRule(new SearchAttribute($attribute, '*'));```
after this i got this error:
[code]

So we have to remove the wildcard text from the php doc or add the function to find * or ?.

What do you think @discordier

[2016-12-15 11:13] discordier commented on #52
The attribute "tags" must get wildcard aware.
Clearly an implementation bug in the attribute and not in this filter here.

Could you please try this patch against [`FilterRuleTags`](https://github.com/MetaModels/attribute_tags/blob/3fa9e97a1290b6513c8ad179bfe685dc142cc020/src/MetaModels/Filter/Rules/FilterRuleTags.php):
[code]

[2017-01-18 11:28] zonky2 commented on #49
tags a5, DCG b39
ich habe ein Attribut Mehrfachauswahl angelegt und auf das selbe MM referenziert - bei der Auswahl gab es keine Fehlermeldungen (alle vier Widgets getestet)

![shot314](https://cloud.githubusercontent.com/assets/1045318/22062361/9b082fa2-dd79-11e6-801b-553a45189167.jpg)

![shot315](https://cloud.githubusercontent.com/assets/1045318/22062364/9e3ab2f8-dd79-11e6-97a6-ad3b8d01a60e.jpg

[2017-01-18 11:45] seaneble commented on #49
Das Problem tritt nach wie vor auf. Die Fehlermeldung ist nicht verschwunden.

[2017-01-18 11:51] zonky2 commented on #49
Wie kann ich den Case nachbauen bzw. was habe ich anders gemacht?
![shot317](https://cloud.githubusercontent.com/assets/1045318/22062992/cbb6e280-dd7c-11e6-913c-d4272fb4a6e6.jpg)

[2017-01-18 12:21] seaneble commented on #49
![metamodels](https://cloud.githubusercontent.com/assets/1255670/22063799/0db4d6e8-dd81-11e6-918b-2bd40ed9bd5f.png)

Sieht nicht so unterschiedlich aus.

[2017-01-18 12:23] seaneble commented on #49
Eine Auswahl bei "Alias" verändert auch nichts.

[2017-01-18 12:36] zonky2 commented on #49
wie aktuell ist "der Rest"? hast Du die "Hotfix-Pakete" geladen?

[2017-01-18 12:43] seaneble commented on #49
Nein, bin noch auf den "stabilen" Versionen.

[2017-01-18 12:49] zonky2 commented on #49
es gab m.E. eine Anpassung bei den Tags, dass nicht mehr der Alias sondern die Id verwendet wird... kannst Du testweise die neuen/kommenden Branches ausprobieren?

[2017-01-19 09:03] MoniqueHahnefeld opened #53 "Taxonomy changes and updating MetaModels Tags-field"
Hi,

I have a question. If I use the attribute in my installation and the related table for the Tags field get new items or items get removed, I get an error in the backend view of the editor mask.
Is there a solution or work-around for this or maybe the issue is already solved?
The error shows up by saving/updating the data. It says that the ids in the database differ to the ids from the widget.

[2017-01-19 09:31] zonky2 commented on #53
which error? pls post the stack trace...

[2017-01-19 09:33] zonky2 commented on #49
@seaneble kannst Du das checken? - dann könnte das Ticket (wieder) zu...

[2017-01-19 10:05] seaneble commented on #49
Das ist alles nicht so einfach, weil ich die Bundle-Pakete installiert habe. Außerdem ist mir aufgefallen, dass ich attribute_tags A6 habe, du nur A5. Die Auflösung des Bundles dauert noch ein bisschen, das ist ganz schön viel Arbeit.

[2017-01-19 10:10] richardhj commented on #49
du musst die Bundles nicht auflösen, du kannst deine composer.json einfach ergänzen: http://metamodels.readthedocs.io/de/latest/manual/install.html#test-von-speziellen-paketen-via-composer (`… as 2.0.0`)

[2017-01-19 10:14] richardhj commented on #53
And as a precaution… please use the up-to-date hotfix-branches (dev-hotfix instead of dev-master). See http://metamodels.readthedocs.io/de/latest/manual/install.html#test-von-speziellen-paketen-via-composer

[2017-01-19 10:21] seaneble commented on #49
Danke. Die Fehlermeldung besteht weiterhin.

[2017-01-19 10:25] zonky2 commented on #49
hmm... Frage wäre, was ist bei Dir anders ist

[2017-01-19 10:30] seaneble commented on #49
Laut Fehlermeldung ist es ja ein NULL-Wert, der eigentlich ein serialisiertes Array sein sollte. Aber aus welcher Tabelle und aus welchem Datensatz das kommt und wer es an diese Stelle gespeichert hat, entzieht sich meiner Kenntnis.

[2017-01-19 10:37] seaneble commented on #49
Eine kleine Analyse mit var_dump bringt mich auch nicht viel weiter als in die Tiefen von dc-general. Offenbar wird irgendwo ein Wert erwartet, der dort nicht ist. Die Objekte sind aber gigantisch groß und von der Struktur verstehe ich nicht viel.

[2017-01-19 10:44] zonky2 commented on #49
das Ganze ohne "Kundendaten" wirst wahrscheinlich nicht an mich übergeben können - oder? dann könnte ich das lokal mal bei mir einspielen

[2017-01-19 10:47] zonky2 commented on #49
hier nochmal meine Pakete

![shot318](https://cloud.githubusercontent.com/assets/1045318/22103303/ef462d82-de3a-11e6-8532-a353482f2b76.jpg)

btw: hattest Du nach dem Update das Attribut nochmal aktualisiert?

[2017-01-19 10:50] seaneble commented on #49
Ich könnte schon einen Struktur-Export machen. Nur hat der Kunde ja quasi auch für diese Struktur gezahlt, ist also rechtlich schwierig. Wenn es wirklich von Interesse ist, könnten wir auch per TeamViewer herumsuchen.

Versionen stimmen exakt mit meinen überein.

Ja, hatte das Attribut erneut gespeichert.

[2017-01-19 10:54] zonky2 commented on #49
o.k. - dann Teamviewer... ich melde mich nochmal per E-Mail...

[2017-01-19 11:28] zonky2 commented on #49
Im Forum hast hast Du anscheinend einen anderen Nickname - hier mal meine E-Mail-Adresse: info@e-spin.de - schick mir doch bitte mal Deine Infos...

[2017-01-19 11:29] richardhj commented on #49
Um das zu reproduzieren: Die MM-Eingabemaske ist rendertype ctable und rendermode parented.
Dann sieht man, dass der DCG in https://github.com/contao-community-alliance/dc-general/blob/hotfix/beta-39/src/ContaoCommunityAlliance/DcGeneral/BaseConfigRegistry.php#L162-L165 nach einer pid, fischt, die nicht in der URL gesetzt ist, weil ja die Lightbox geöffnet ist.

[2017-01-19 11:52] zonky2 commented on #49
@richardhj hmmm.. was hast Du wo, wie eingestellt?

[2017-01-19 12:15] richardhj commented on #49
Eingabemaske des MM, auf das referenziert wird ![bildschirmfoto 2017-01-19 um 13 12 51](https://cloud.githubusercontent.com/assets/1284725/22106474/2f411358-de49-11e6-8867-1479b5cf072d.png)
und diesen Mode für das Tags-Attribute
![bildschirmfoto 2017-01-19 um 13 13 51](https://cloud.githubusercontent.com/assets/1284725/22106489/3aa8928e-de49-11e6-8fa1-7218dfe75c8e.png)

Es ist egal, ob das Attribu

[2017-01-19 12:17] richardhj commented on #49
Das scheint aber ein DCG Fehler zu sein.
[code]
funktioniert scheinbar nicht im Popup

[2017-01-19 12:27] zonky2 commented on #49
o.k. - kannst Du ein Ticket im DCG aufmachen?

[2017-01-19 12:45] richardhj commented on #49
Gemacht.

[2017-01-19 13:06] zonky2 commented on #49
Supa!

[2017-01-19 13:36] richardhj commented on #49
Kann es sein, dass die Konfiguration, wie @seaneble sie verwendet, gar nicht möglich ist?
@seaneble wenn dein MetaModel vom Typ "Elternelement vorhanden" ist, welche List view soll sich denn da aufbauen?

[2017-01-19 13:43] richardhj commented on #49
@seaneble Mach doch mal folgendes, geh zu den Code, den ich weiter oben verlinkt habe und ändere die Zeilen ab in
[code]
Dann ist der Fehler weg, aber die Auflistung der "Tags" ist falsch, da der elementare Filter fehlt. IMO kann deine Konfiguration nicht funktionieren und das Tags-Attribute-Meta;odel darf nicht vom Typ "Elternelement vorhanden" sein 🤔

[2017-01-19 14:10] discordier commented on #49
So dachte ich auch, ich komme auf keinen logischen Zweig wenn ich versuche gedanklich nachzuvollziehen was hierbei die richtige PID waere.

So wie es aussieht hat @seaneble eine Konfiguration wie folgt:
[code]
Und will nun bei `Projekt 1` im Tag-Attribut die Liste der Projekte haben um "vorherige" auszuwaehlen.
Welche sollen denn hierbei gelistet werden?

- PID = 1 - nur Projekt 1.1, nur Projekt 1

[2017-01-19 14:45] seaneble commented on #49
Ähm, bei @discordier komme ich nicht mit. Meine Struktur hat keine Kindprojekte. Es gibt nur Projekte auf einer Ebene, die in der Tat mit "Vorprojekten", also Datensätzen aus dem gleichen MetaModel verlinkt sind. Dabei gibt es im Prinzip keinen Filter, höchstens die Selbstreferenz wäre zu verbieten.

[2017-01-19 14:49] richardhj commented on #49
Skizziere doch bitte mal, wie dein MetaModel in der List View ausschaut, und welchen Output du in der Lightbox dir vorstellst.
Siehst du das auch so, dass "Elternelement vorhanden" nicht bei dem Metamodel aktiviert sein darf, auf das das Tag-Attribut referenziert?

[2017-01-19 14:56] zonky2 commented on #49
das wäre m.E. nicht Zielführend - b.B. bei dem Handbuch-Beispiel könnten die Mitarbeiter andere Mitarbeiter als "Urlaubsvertretung" o.ä. auswählen - "Basistabelle" und "Auswahltabelle" wären hier als "mm_mitarbeiter" die selbe...

[2017-01-19 15:19] discordier commented on #49
Die Mitarbeiter koennen jedoch NICHT parented sein, zumindest nicht unterhalb von sich selbst und sollten sie parented sein, wie soll man aus dem Kontext eines Mitarbeiters auf die richtige PID kommen?
Soll es dann hierbei die PID des aktuellen Mitarbeiters sein? Also quasi eine Sibling-Auswahl?

[2017-01-19 15:26] zonky2 commented on #49
=> korrekt "Sibling-Auswahl" - da alle Mitarbeiter im Prinzip auf "einer Stufe" stehen

[2017-01-19 15:44] richardhj commented on #49
Also eine allgemeine Lösung gibt es nicht, mancher will Siblings auswählen, mancher will alle auswählen können (ohne parent).
Ist das Problem nicht gelöst, wenn man statt des Pickers ein anderes Attribut nimmt?

[2017-01-19 15:54] seaneble commented on #49
Der Picker ist das einzige, was bei ca. 20000 Datensätzen noch hilft.

[2017-01-19 16:37] zonky2 commented on #49
tja... und nu?

[2017-01-19 22:16] discordier commented on #49
@seaneble und was ist in diesem Falle der korrekte parent?

[2017-02-06 07:03] zonky2 commented on #49
@seaneble könntest Du die Infos noch posten?

[2017-02-06 09:18] seaneble commented on #49
@discordier was ist in diesem Fall ein parent? Was meinst du damit?
In meinem Fall handelt es sich um eine Selbstreferenz, das Model im Picker ist also das gleiche wie der Elterndatensatz.

[2017-02-09 07:13] zonky2 commented on #52
@stefanheimes it´s possible to check this https://github.com/MetaModels/attribute_tags/issues/52#issuecomment-267302778?

[2017-02-09 07:15] zonky2 commented on #53
@MoniqueHahnefeld

[2017-02-15 12:48] seaneble commented on #49
Ich habe ehrlich gesagt keine Ahnung, wie ich es mir vorstelle. Wir haben damals das Model zusammengeklickt und einfach mal ausgewählt, dass wir da einen Picker haben wollen. Ich war im Hinterkopf davon ausgegangen, dass das dann so ähnlich wie beim File- oder PagePicker läuft:

  * Lighbox öffnet sich
  * Backend-Listenansicht des Ziel-Models öffnet sich
  * Über Filter, Blättern, Suchen etc. kön

[2017-02-15 13:41] zonky2 commented on #49
im Prinzip funktioniert das mit dem Popup-Picker genau so - lediglich ein "Filtern, Blättern, Suchen" gibt es in der Form nicht - normalerweise werden die Werte in einer Hierarchie angezeigt, es geht aber auch mit einer hierarchischen Baumdarstellung (wenn das referenzierte MM so aufgebaut ist).

siehe Screenshots

M.E. kommen hier eher die "Fragezeichen" zum Thema "Selbstreferenzierung" auf, wie

[2017-02-15 13:49] zonky2 commented on #49
... vielleicht setzen wir den Meilenstein auf "Future" bis mal wieder ein passender Use case auftaucht - eine "Selbstreferenzierung" ist zumindest möglich...

![shot323](https://cloud.githubusercontent.com/assets/1045318/22977196/f3657dc4-f38d-11e6-9379-0307b2eafdca.jpg)

[2017-02-15 14:03] richardhj commented on #49
Also wir waren ja eigentlich schon weiter und drehen uns nur im Kreis.
Wir hatten gesagt, dass eigentlich sowohl die Sibling-Auswahl, als auch die Root-Auswahl unter Umständen geeignete Use-Cases sein können (Welcher Fall das bei @seaneble, wissen wir immer noch nicht).
Und je nachdem muss die passende `pid` herausgefunden werden und der URL (Klick auf Picker Button) angehängt werden (das sollte a

[2017-02-15 14:13] zonky2 commented on #49
@richardhj - o.k. Frage für mich ist, ist das "Bug oder (künftiges) Feature" und soll das Thema noch in 2.0.0 oder in 2.? bearbeitet werden...

... ich bin für letzteres, da offensichtlich niemand einen entsprechenden "Leidens druck" verspürt

[2017-02-15 14:19] seaneble commented on #49
Nein, Druck ist nicht da. Ich kann auch gerne weitere Infos liefern, oder euch das Teil per TeamViewer zeigen. Ich verstehe aber auch eure Rückfragen nicht.

    Welcher Fall das bei @seaneble, wissen wir immer noch nicht

Solche Sachen hatte ich ja durchaus oben schon erläutert, daher sehe ich da auch eher einen Kreis-Bezug.

[2017-02-15 14:25] richardhj commented on #49
Streng genommen ist es ein Bug…
@seaneble Ist ja auch kein Problem, da ich denke, dass man dein Problem auf jeden Fall lösen kann :) Aber da du meine oder auch xtras Rückfragen nicht verstanden hast, bin ich mir nicht ganz sicher, ob ich das Problem umfassend verstanden hatte. Hattest du eigentlich mal https://github.com/MetaModels/attribute_tags/issues/49#issuecomment-273779294 (nur ne if-conditi

[2017-02-17 08:22] seaneble commented on #49
Wenn ich das einbaue (das zusätzliche `if`) erhalte ich auf jeden Fall Daten:

![lightbox](https://cloud.githubusercontent.com/assets/1255670/23057887/7dfff6a2-f4f2-11e6-9751-2ad0a5207399.png)

Im Sinne dieses Tickets wäre der Fehler damit behoben. Filterung etc. wäre natürlich eine feine Sache, ist aber ein anderes Thema.

[2017-02-17 08:26] richardhj commented on #49
Aber doch bitte das Ticket nicht schließen 😄

[2017-02-17 08:27] seaneble commented on #49
Naja, wenn es eine Code-Änderung in DC_General benötigt, hat es hier ja eigentlich nichts zu suchen, oder?

[2017-02-17 08:29] richardhj commented on #49
Der fehlende `pid` Parameter muss aber irgendwie von dem tags attribute kommen. Mit deiner Änderung wurde der ja nur ausgeknockt

[2017-02-17 08:30] zonky2 commented on #49
denke ich auch - daher "wrong rep"... Frage ist, wo man die Einstellung hin packt - in das Popup (dann DCG) oder als Option wie die "Anzeige Baumstruktur-Ebene" dann zus. in MM

[2017-02-20 10:54] stefanheimes commented on #52
Works for me thx.

[2017-02-20 10:54] #52 closed

[2017-02-20 11:00] zonky2 commented on #52
**Note:** at current MM Core + Tags + DCG it´s not a problem to filter with the wildcards (without the patch https://github.com/MetaModels/attribute_tags/issues/52#issuecomment-267302778) - may be the reason is we change from alias to id at one of the last updates...

[2017-02-20 11:02] zonky2 commented on #49
@richardhj willst Du zu dem Thema noch einen PR machen? ansonsten schiebe ich das zu 2.1

[2017-02-20 19:22] richardhj commented on #49
In naher Zukunft werd ich keinen PR machen (können) :)

[2017-02-20 19:41] zonky2 commented on #49
o.k. - dann 2.1 ...

[2017-02-21 07:16] zonky2 commented on #53
@MoniqueHahnefeld pls add more informations

[2017-02-21 07:17] zonky2 opened #55 "ToDo/FixMe for FilterRulesTags.php"
**What**
Just a temporary hack. We should use the attribute for this.

**Where**
https://github.com/MetaModels/attribute_tags/blob/3fa9e97a1290b6513c8ad179bfe685dc142cc020/src/MetaModels/Filter/Rules/FilterRuleTags.php#L136

[2017-02-21 09:04] zonky2 commented on #51
With PR https://github.com/MetaModels/attribute_tags/pull/54 RTM

[2017-02-22 14:00] zonky2 opened #56 "count values if alias column the id column"
https://github.com/MetaModels/attribute_tags/blob/master/src/MetaModels/Attribute/Tags/MetaModelTags.php#L447
[code]

[2017-02-27 23:43] #56 closed

[2017-02-27 23:44] #51 closed

[2017-05-03 06:25] zonky2 opened #59 ""deepDelete" at referenced Items"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-05-24 12:58] zonky2 commented on #48
fixed with https://github.com/MetaModels/attribute_tags/pull/60

[2017-06-03 15:45] #48 closed

[2017-06-21 17:37] zonky2 opened #61 "Error if table tl_page and we use picker widget"
[code]

[2017-06-21 17:38] zonky2 commented on #61
fixed in 2.0.1 https://github.com/MetaModels/attribute_tags/commit/efbc42244fcfc4e9bd3a2c7fd89c536bef519453#diff-8c81bfe3481dbd7775ed14aa86befcbaR62

[2017-06-21 17:38] #61 closed

[2017-07-06 20:03] zonky2 opened #62 "where condition doesn´t work with popup widget"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-07-13 16:03] discordier commented on #62
Define "doesn't work".

[2017-07-13 20:11] zonky2 commented on #62
if we add a own where clause at the settings of the attribute e.g. `tl_page.id IN (1,3,5,7)` works the filter if we use the checkboxes (we see only pages 1, 3, 5 and 7) but doesn´t works if we use the popup widget (we see all pages)

[2017-08-07 08:54] ThomasJanotta commented on #39
Hallo, kann bestätigen, dass bei "Sortierung der Mehrfachauswahl" -> id immer noch der Fehler kommt (z.B.: Found 6, expected '10'). Bei Sortierung nach z.B. "Kategorie (type text)" nicht. Dann akzeptiert er mehrere Werte. (aber man sortiert ja he nach Namen (-Feld) ...)
MM 2.0.0 bundle_all, per Composer, keine Zusatzpakete.

[2017-08-07 09:24] zonky2 commented on #39
getestet mit aktuellem core (a15), dcg (b39), tags (2.0.0) - keine Fehlermeldung

![shot357](https://user-images.githubusercontent.com/1045318/29020570-cf4b76b6-7b62-11e7-8a5b-8bc1c268ace6.jpg)

![shot356](https://user-images.githubusercontent.com/1045318/29020578-d80fd058-7b62-11e7-8b86-b94938c6119e.jpg)

[2017-08-07 09:24] #39 closed

[2017-08-07 09:28] richardhj commented on #39
@ThomasJanotta aktuelle Erweiterungen? Sonst kann die Konfiguration zu diesem Fehler führen und dieser sollte dann auch nicht auftauchen

[2017-08-07 10:53] ThomasJanotta commented on #39
@zonky2: MM aktuell (a2, b15), sorry, war wohl irgendein cacheproblem im browser, kannst es 'schließen'.

Danke

[2017-08-31 19:12] discordier commented on #59
Isn't #64 exactly this?

[2017-09-01 06:47] zonky2 commented on #59
ohhh yeah!

[2017-09-01 06:47] #59 closed

[2017-11-06 13:21] gruenerPetz commented on #35
Ist das Problem endgültig gelöst? Ich habe ein ähnliches Problem.
Ich habe auch eine Beziehung products <-> related products und beim Editieren der Produkte gibt es Probleme.
Der Debug Modus zeigt, dass ich extrem viele Database queries habe, wenn ich das Tag Plugin aktiviere.

Installiert ist Version 2.0.2

[2017-11-06 13:32] zonky2 commented on #35
@gruenerPetz

* da auf das Testing niemand reagiert hat, gilt es als gelöst: also JA
* welche Probleme hast Du?
* was sind extrem viele Queries?
* wie kann das Verhalten nachvollzogen/nachgebaut werden?

[2017-11-06 13:39] gruenerPetz commented on #35
Ich habe wie design23 mm_products und mit dem tags attribute related products verbunden. Wenn ich jetzt ein Produkt öffne, zeigt es im im Debug Modus ohne Tags Attribut ca. 160 Queries an und mit über 600 Queries an. Mit zunehmender Produkte werden auch die Queries mehr, bis es eben beim speichern zum Absturz kommt.

Ich habe das Gefühl es werden alle Daten auch von den related products geladen.
E

[2017-11-06 13:43] design23 commented on #35
Oh Himmel... ich hatte damals ja gar nicht mehr geantwortet... sorry!
Ich konnte das damals gar nicht mehr testen, da aus Zeitgründen eine andere Lösung umgesetzt werden musste. Daher konnte ich das leider nicht testen.
Abe die Fehlerbeschreibung von gruenerPetz klingt, als wäre es genau das gleiche Problem wie damals.

[2017-11-06 13:56] zonky2 commented on #35
dann mache ich mal ein reopen...

aktuell wird das vom MM-Team wohl keiner "nebenbei" debuggen können - ggf. kannst Du Dich mal "reinwurschteln"

[2017-11-13 15:07] MiniModel commented on #35
This issue has been labeled with testing but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@design23 could you please have a final look at this and tell if your issue

[2017-12-18 14:42] zonky2 opened #66 "bug at count items"
bug at count items: count all items at this time also from the "unpublished" if option only used checked

[2018-03-12 15:28] zonky2 commented on #62
das ist den Popwidget ist es egal was im where steht...

[2018-03-12 16:03] #35 closed

[2018-08-17 09:58] bezin opened #69 "Tags attribute does not handle translated aliases property"
# Issue Description

I have a MM Event with an tags attribute Tickets, that references a MM Ticket. Both are translateble (EN & DE).

The MM Tickets has a translated text `name` and a translated alias generated from that name.

The ticket tags attribute settings are the following:
Table: mm_ticket
Name: mm_ticket.name
Alias: mm_ticket.alias
Sorting: Name
Sort Dir: Ascending
Filter: none

# Steps t

[2018-08-17 12:43] bezin commented on #69
It is not limited to the checkbox menu, but also happens with the picker

[2018-08-18 20:30] zonky2 commented on #69
Same at MM 2.0

[2018-08-24 15:31] zonky2 opened #70 "add render setting for display at input mask"
add a selection of a render setting for display in the input mask

[2018-09-14 11:42] zonky2 commented on #69
Workaround: switch alias to id

[2018-12-19 06:30] zonky2 opened #71 "Change sorting to work with current DCG"
Change sorting to work with current DCG an popup widget and non MM table e.g. tl_page

Error:
[code]

https://github.com/MetaModels/attribute_tags/blob/39a5728404095acd7b13aff2af6fcbbf29cdaba3/src/MetaModels/Attribute/Tags/Tags.php#L266

[2018-12-22 01:45] #71 closed

[2018-12-23 11:33] zonky2 commented on #62
no, it doesn't work - comes in MM 2.2

[2019-01-11 06:39] zonky2 opened #72 "FEE error with checkbox wizard"
FEE error with checkbox wizard

[code]

[2019-01-11 06:44] zonky2 opened #73 "FEE error at popup widget"
FEE error at popup widget

[code]

[2019-01-12 15:29] baumannsven opened #75 "Empty value handling"
The default property from dcg has an empty value handling. There are two methods evaluate for the empty value handling. The methods are `hasEmptyValue` and `getEmptyValue`. The attribute must set the values for the empty value handling.

Here can you where the empty value evaluate it.

https://github.com/contao-community-alliance/dc-general/blob/a6a0d53aa346d25a573e94ba510548271b890a32/src/Data/Mo

[2019-01-12 16:19] baumannsven commented on #75
https://github.com/MetaModels/attribute_tags/issues/70

[2019-01-14 17:32] #75 closed

[2019-01-28 09:53] zonky2 opened #76 "Empty value handling"
MM 2.0

Empty value handling - if no checkbox checked:

```Property my_mm_tags (tags) did not accept the value (The values differ. Encountered type array expected NULL (Found array ( ), expected NULL)). ```

see https://github.com/contao-community-alliance/dc-general/issues/454
and https://github.com/MetaModels/attribute_tags/issues/75

[2019-01-30 06:38] zonky2 commented on #76
fixed https://github.com/MetaModels/attribute_tags/pull/77

[2019-02-21 18:15] zonky2 commented on #62
! we have two different implementations

* mm-table: select filter from MM
* non-mm-table: input field fpr WHERE condition

[2019-03-16 10:58] #76 closed

[2019-04-09 08:30] zonky2 opened #79 "Catch warning"
Catch warning "array_key_exists()" in BE at edit item - but not every item... hmmm?

https://github.com/MetaModels/attribute_tags/blob/d09c2cd18b299a48532caa0de8c70b7944282a8e/src/Attribute/MetaModelTags.php#L274

![screenshot_516](https://user-images.githubusercontent.com/1045318/55785330-872c0b80-5ab2-11e9-91db-ac31d3faefa9.jpg)

[2019-04-09 09:28] baumannsven commented on #79
@zonky2 More details please

[2019-04-09 09:37] zonky2 commented on #79
done

[2019-04-15 10:04] discordier commented on #79
Strange values in the stack trace... `['r', 'S']` is not a valid value list, it should be an array of array having the ids as key.

[2019-05-09 02:57] discordier commented on #69
API extension is underway in MM/core in the translated MetaModel feature branch.

[2019-05-09 06:12] zonky2 commented on #69
For the same problem we wrote an own eventlistener, for translated text and untranslated alias. The listener always generates the alias using the fallback language and saves it.

[2020-03-31 06:39] zonky2 opened #81 "error with popup widget "unparsable encoded id..""
if value exist error at input mask or without selected value at popup

MM 2.2

[code]

[2020-03-31 06:41] zonky2 commented on #81
relatet with https://github.com/MetaModels/attribute_tags/issues/49

[2020-05-09 14:28] zonky2 opened #82 "BE filter doesn´t work with popup widget"
## Steps to reproduce

1. create attribute tags
2. select filter at attribute
3. use as popup widget

filter works in checkbox widget, but not with popup widget

related with #62

[2020-05-27 13:38] zonky2 opened #83 "Filter in BE panel doesn't work if popup widget in input mask"
Filter in BE panel doesn't work

activate tags attribute in input mask properties for filtering - if you filter the BE list is result empty

if popup widget selectet, the value in filter panel option is id instead of alias (if alias attribut chosen)

related:
https://github.com/contao-community-alliance/dc-general/issues/460
https://github.com/contao-community-alliance/dc-general/issues/373

[2020-08-07 15:29] zonky2 opened #84 "Deep delete items in relation table if delete attribute"
Deep delete items in relation table if delete attribute - at this time the entries are retained

[2020-11-03 18:53] zonky2 opened #85 "Cleaner when saving if element was deleted from relation table"
Cleaner when saving if element was deleted from relation table...

e.g, at https://github.com/MetaModels/attribute_tags/blob/13cff2457fa94a80eba97a8fcf2bbe8f68b4674a/src/Attribute/AbstractTags.php#L401

[2020-11-04 07:28] zonky2 opened #86 "Set default alias as column 'id' if not set"
see https://community.contao.org/de/showthread.php?79333-MetaModels-Filter-mit-Mehrfachauswahl

user have error
`request.CRITICAL: Uncaught PHP Exception Error: "Call to a member function searchFor() on null" at /var/www/vhosts/xxxxx.de/xxxxx/vendor/metamodels/attribute_tags/src/FilterRule/FilterRuleTags.php line 150 {"exception":"[object] (Error(code: 0): Call to a member function searchFor() on

[2020-11-04 07:29] zonky2 commented on #86
@discordier what you mean?

[2020-11-29 17:40] zonky2 opened #87 "Its not possible to use attribute type 'url' as alias in relation properties"
Its not possible to use attribute type 'url' as alias in relation properties

Its not possible so save an item.

[2020-11-30 08:39] discordier commented on #87
What do you mean by not possible? What error/exception do you get?

[2020-11-30 08:49] zonky2 commented on #87
I complete my text - it´s now a live site and I cannot currently change the settings for a test :(

[2021-03-29 12:25] plorenz-etes commented on #49
@zonky2 Hier wie besprochen der aktuelle Strack-Trace:

![image](https://user-images.githubusercontent.com/43336309/112836133-78bdcc80-909a-11eb-9440-45c3311f2bb2.png)
![image](https://user-images.githubusercontent.com/43336309/112836187-8a9f6f80-909a-11eb-83e8-01f23332e007.png)

[code]

[2021-03-29 13:32] zonky2 commented on #49
Das problem gibt es nur dann, wenn die Tabelle eine Kindtabelle einer anderen Tabelle ist - ob die Parent-Tabelle von MM oder Contao ist, ist egal

[2021-03-31 05:57] zonky2 commented on #49
@plorenz-etes: Wir haben uns die Sache beim MM-call 30.03.2021 zusammen angesehen.

Die Einstellung "Popup-Widget" verwendet den "treepicker" aus dem DCG und der kommt an der Stelle mit dem "Parented" nicht klar - es müsste hier noch die Einstellung geben, ob das Model "parented" oder "flat" ist.

Aktuell könnte man das wohl nur über einen eigenen Eventlistener lösen, der für den Picker von "paren

[2021-03-31 08:39] #81 closed

[2021-03-31 08:44] zonky2 commented on #79
the error never occurred again - hmm

[2021-03-31 08:44] #79 closed

[2021-04-22 13:32] zonky2 opened #88 "Problems with caching and widgetMode"
the getFieldDefinition is only loaded on the first call and then cached - therefore the widgetMode is also only handled correctly on the first or the uncached call. The set value of the widgetMode is also queried by other methods, which then have a different value when cached than when uncached.

https://github.com/MetaModels/attribute_tags/blob/13cff2457fa94a80eba97a8fcf2bbe8f68b4674a/src/Attribu

[2021-05-12 08:12] zonky2 commented on #86
@discordier ??

[2021-05-12 12:08] zonky2 commented on #53
no feedback

[2021-05-12 12:08] #53 closed

[2021-05-12 12:09] zonky2 commented on #49
gefixt in MM 2.2 mit neuer Einstellung von DCG

[2021-05-12 12:09] #49 closed

[2021-05-12 12:17] zonky2 commented on #66
fixed with https://github.com/zonky2/attribute_tags/commit/3dcf266ffbd36175326b1c26db5b0f20d808cca5

[2021-05-12 12:17] #66 closed

[2021-05-12 12:32] zonky2 commented on #87
Error at input mask:

```Property tags_tag (tags) did not accept the value (The values differ. Encountered type NULL expected array (Found NULL, expected array ( 0 => 'de/home', ))).```

[2021-05-12 13:39] zonky2 commented on #72
current check 2021:

[code]

[2021-05-14 12:37] zonky2 commented on #69
@zonky2 check this

[2021-05-14 12:53] zonky2 commented on #69
Checked - works fine

[2021-05-14 12:53] #69 closed

[2021-05-16 19:56] zonky2 commented on #86
fixed in MM 2.2

[2021-05-16 19:56] #86 closed

[2021-05-17 13:42] zonky2 commented on #87
Before the problem can be solved, a new interface must be built into the core and the corresponding implementation built into tags.

https://github.com/MetaModels/core/compare/feature-aliasaware

There is already a corresponding branch for select

https://github.com/MetaModels/attribute_select/tree/feature-aliasaware

[2021-05-18 15:21] zonky2 commented on #73
Pop-up picker in the FE remains a known limitation for the time being

see https://github.com/MetaModels/attribute_select/issues/69

[2021-05-18 15:22] zonky2 commented on #72
checkbox wizard in the FE remains a known limitation for the time being

see #73 and https://github.com/MetaModels/attribute_select/issues/69

[2021-05-18 15:42] zonky2 commented on #70
@discordier wants to check this

[2021-05-20 07:55] zonky2 commented on #88
The problem no longer occurs with the current version of MM 2.2

[2021-05-20 07:55] #88 closed

[2021-05-21 07:18] zonky2 commented on #85
If the referenced item is deleted, the entry in the relation table is also deleted when saving - tested in MM 2.2.

[2021-05-21 07:18] #85 closed

[2021-05-26 05:33] zonky2 commented on #70
MM call 25.05.2021: wir haben die Sache nochmal ausdiskutiert - lt. @MacKP wäre es von der usability schon korrekt, wenn im Popup das selbe steht wie in der Listenansicht... ist also eher "feature als bug"
Eigentlich müsste bei der Tabellendarstellung auch die ganze Zeile angezeigt werden - das kann aber der Treepicker vom DCG nicht; ggf. kann man das einbauen (@baumannsven)
Somit bleibt das Ticke

[2021-10-07 11:18] MacKP opened #91 "Anzeigetyp 'Anzeigen als Tag-Liste' und Sortierung nach ID oder Sorting hat Probleme beim Speichern"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2022-05-04 16:08] #91 closed